
.otm-callout {
    padding: 0.5rem 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    background-color: $sideBarColor;
    border: 0px solid #e9ecef;
    border-left-width: .25rem;    
    border-left-color: $primaryColor;

    p {
        margin-bottom: 0rem;
    }
}

