.dataTables_wrapper {
    .row:nth-child(2) {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 1rem;

        & > div {
            overflow: auto;
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    td {
        a {
            color: #3490dc;
        }
    }
}
