.form-group {
  margin-bottom: 1rem;

  .form-control {
    height: 2.5rem;
    box-shadow: none !important;
    border-radius: 0;
    background-color: white;
  }

  .form-check-input[type=checkbox] {
    width: 1rem;
    height: 1rem;
    box-shadow: none !important;
    border-radius: 0;
  }

  textarea.form-control {
    height: auto;
  }

  .form-select {
    max-width: none;
    border-radius: 0;
    box-shadow: none !important;
  }
}

.input-disabled {
  filter: brightness(80%);
}

.order-table {
  .edit-button {
    color: #38c172;
  }
  .delete-button {
    color: #ff3547;
  }
}