/* Nav Bar Styling */

@import "colors";
@import "datatables";
@import "button";
@import "card";
@import "select2";
@import "form";
@import "callout";
@import "tab";
@import "navbar";
@import "sidebar";
@import "dropdown";
@import "popup-panel";

@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css');

.image {
  &.tiny {
    max-width: 50px;
    max-height: 50px;
    background-size: 50px;
  }

  &.small {
    max-width: 100px;
    max-height: 100px;
    background-size: 100px;
  }

  &.medium {
    max-width: 150px;
    max-height: 150px;
    background-size: 150px;
  }

  &.large {
    max-width: 200px;
    max-height: 200px;
    background-size: 200px;
  }

  &.xl {
    max-width: 250px;
    max-height: 250px;
    background-size: 250px;
  }
}

.vertical-divider {
  width: 1px;
  border-right: 5px solid #cccccc;
  border-radius: 2px;
}

a {
  text-decoration: none !important;
}

.splitter {
  border-bottom: 5px solid #cccccc;
  border-radius: 2px;
}

@media screen and (min-width: 1500px) {
  .page-wrapper {
    width: 100%;
  }

  .otm-content {
    display: flex;
    flex: 1 1 auto;
    width: calc(100% - 2.5%);
  }
}

.cross-out {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='black' stroke-width='5'/><path d='M0 0 L100 100 ' stroke='black' stroke-width='5'/></svg>") no-repeat center center;
  background-size: 100% 100%, auto;
}

.show {
  visibility: visible;
}

.sized-modal {
  width: 80%;
  margin: auto;
}
