/* 
app.scss 
npm run dev creates the files in public that the website can use
*/

@import 'bootstrap/app.scss';
@import 'otm/layout.scss';
@import 'spinner';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Bootstrap uses !important, so do I to overwrite it ;-;

.color-facebook {
  color: #4267B2 !important;
  border-color: #4267B2 !important;
}

.color-twitter {
  color: #1DA1F2 !important;
  border-color: #1DA1F2 !important;
}

.color-instagram {
  color: #833AB4 !important;
  border-color: #833AB4 !important;
}

.selected {
  filter: brightness(80%);
}

.odd-row > td {background-color: #e5e7eb;}

.td-width-20 {
  width: 20%;
}

.badge{
  --bs-badge-padding-x: 1.65em;
  --bs-badge-padding-y: 0.55em;
}

.icon-height {
  height: 33px !important;
}

.sticky-header {
  position: fixed;
  top: 5rem;
  right: 3rem;
  width: 93%;
  z-index: 3000;
}

.form-scroll-body {
  height: 70vh;
  overflow-y: scroll;
}

.card-blue {
  background-color: #a3caee;
}
.tr-red > * {
  color: red !important;
  a:not(.btn) {
    color: red !important;
  }
}

.title-bold {
    font-size: 1.35rem;
    font-weight: 700 !important;
}