@font-face{font-family:"PP Neue Montreal";src:url(/fonts/customer/font/PPNeueMontreal-Regular.ttf);}
@font-face{font-family:"PP NeueMontreal Medium";src:url(/fonts/customer/font/PPNeueMontreal-Medium.ttf);}
@font-face{font-family:"PP Editorial New";src:url(/fonts/customer/font/PPEditorialNew-Ultralight.ttf);}
@font-face{font-family:"Inter Regular";src:url(/fonts/customer/font/Inter-Regular.ttf);}
@font-face{font-family:"Inter Medium";src:url(/fonts/customer/font/Inter-Medium.ttf);}
@font-face{font-family:"PP NeueMontreal Bold";src:url(/fonts/customer/font/ppneuemontreal-bold.otf);}
.container{max-width: 100%!important;width: 100%!important; position: relative!important;}
.body_content{display: flex; width: 100%;}
.inner_content{width: 80%;margin-bottom: 200px;float: left;}
#app .container{padding: 0px;}
/*sidebar css*/
#sidebar {
    height: 200vh;
    background: #000000;
    color: #fff;
    position: sticky;
    top: 0px;
    transition: all 0.3s;
    padding: 30px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;    
}
.menu_list{margin-top: 80px;}
.menu_list li,.social_media{padding-bottom: 24px;}
.menu_list li a{font-family: 'PP NeueMontreal Medium';font-size: 14px;font-weight: 500;color: #fff;text-transform: capitalize;text-decoration: none;}
.menu_list a.active{color: #F35B15;}
.menu_list li img,.social_media img,.email_id img,.phone_no img{margin-right: 12px;}
.email_id,.phone_no{padding-bottom: 12px;} 
.contact_details a{color: #F35B15;text-decoration: none;}
.contact_details a,.search_field input,.common_btn a,.view_details a,.save_changes{font-family: 'PP NeueMontreal Medium';font-size: 14px;font-weight: 500;}
.calendar_date span{font-family: 'PP NeueMontreal Medium';font-size: 16px;font-weight: 500;}
/*Body inner css*/
.overview_top_bar{position:fixed;float:left;width:80%;background-color: #F9F4EE;z-index: 111;padding: 28px 36px 28px 32px;display: flex;justify-content: space-between;align-items: center;}
.overview_top_bar p{margin-bottom: 0px;display: flex;align-items: center; text-transform: uppercase;}
.search_field input{color: #721111;border-radius: 50px;width: 100%;padding: 10px 24px;border: 0px;}
.search_field input::placeholder{color: #721111;}
.search_field{width: 40%;position: relative;}
.search_field p::after {
    content: url("/images/customer/images/search-zoom-in.svg");
    width: 20px;
    height: 20px;
    top: 10px;
    right: 24px;
    position: absolute;
    display: inline-block;
}
.overview_title,.personal_details h3{font-family: 'PP NeueMontreal Medium';font-size: 24px;line-height: 32px;color: #000000;}
.overview_top_bar .top_user_name{font-family: 'PP NeueMontreal Medium';font-size: 18px;line-height: 24px;display: flex;gap: 8px;color: #000000;text-transform: capitalize;}
.tours_list{padding: 138px 32px 32px 32px;}
.event_image_title{display: flex;align-items:flex-start;}
.event_list,.event_payment_list{display: flex; justify-content: space-between; align-items: center;padding-top: 24px;}
.title_date{padding-left: 16px;}
.title_date h4{font-family: 'PP NeueMontreal Medium';font-size: 24px;font-weight: 500;line-height: 32px;color: #000000;margin-right: 15px;margin-bottom: 16px;}
.upcoming_tours h2,.upcoming_payments h2,.past_tours h2,.customer_details h2,.name_address_font h2,.upcoming_payments_finances h2{font-family:'PP Editorial New';font-size: 32px;color: #000000;line-height: 42px;display: flex;align-items: center;margin-bottom: 0px;}
.upcoming_tours h2 span,.upcoming_payments h2 span,.past_tours h2 span,.upcoming_payments_finances h2 span{
    font-family:'PP NeueMontreal Medium';
    font-size: 16px;
    color: #ffffff;
    line-height: 20px;
    width: 32px;
    height: 32px;
    display: inline-flex;
    background: #F35B15;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}
.common_btn{display: flex;}
.common_btn a{
    line-height: 17px;
    color: #F35B15;
    border-radius: 50px;
    padding: 10.5px 21px;
    border: 1px solid #F35B15;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 8px;
    position: relative;
}
.event_location img{margin-right: 10px;}
.calendar_date img {margin-right: 1px;}
.calendar_date{line-height: 17px;color: #721111;align-items: center;margin-bottom: 24px;display: flex;gap: 8px;}
.calendar_date span{display: flex;gap: 8px;}
.view_details a{color: #F35B15;text-decoration: none;letter-spacing: 2px;}
hr{color: #F9F4EE;opacity: 1;}
.overdue_btn{font-family: 'Inter Regular';font-size: 12px;line-height: 15px;color: #fff;
    padding:10px;border: 0px; border-radius: 50px;margin-bottom: 15px;
    margin-top: 15px;}
.upcoming_payments,.past_tours{margin-top: 48px;}
.dollar_amount{font-family: 'PP Neue Montreal';font-size: 24px;line-height: 32px;color: #000000;position: relative; top: 5px;margin-right: 16px;}
.event_title_date{padding-top: 16px;padding-bottom: 0px;}
.event_title_date h4{
    padding-bottom: 0px;
    font-family: 'PP NeueMontreal Medium';
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color: #000000;
    /*margin-bottom: 15px;
    height: 62px; */
    display: flex;
    align-items: center;
}
.event_title_date .view_details,.pst_tour_details{
     font-family: 'PP NeueMontreal Medium';
    font-size: 14px;
    font-weight: 500;
    color: #721111;
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 50px;
}
.past_tours_column .calendar_date{margin-bottom: 0px !important;}
.event_location{margin-bottom: 0px;color: #721111;}
.past_tours h2{padding-bottom: 16px;}
.past_tours_column .common_btn{display: flex;column-gap: 10px;}
.past_tours_column .common_btn a{flex:1;padding: 11px 0px !important;text-align: center;}
.sidebar-header img{width: 100%;}
.event_img{max-width: 220px;width: 100%;height: 144px;}
.event_img img{width: 100%;height: 100%;object-fit: cover;}
.email_id span:hover,.phone_no span:hover,.contact_details p a:hover{color: #fff;}
.common_btn a:hover{
border: 1px solid #fff !important;
color: #fff !important;
background-color: #f15727 !important;
transition: all 0.8s ease;
}
/* .common_btn a:hover::before{
    content: url(/images/customer/images/download_icon_white.svg);
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 20px;
} */
/* .past_tours_column .common_btn a:hover::before{
    margin-left: 24px;
    margin-top: 0px;
    left: 0px;
} */
.upcoming_payments .common_btn a img{margin-top: -3px;}
.upcoming_payments .common_btn a,.your_details_colm_2{position: relative;}
.pay-now-btn:hover .pay_right_arrow_org,.pay_right_arrow_wht{display: none;}
.pay-now-btn:hover .pay_right_arrow_wht,
.common_btn .download_itinerary_link:hover .download_itinerary_wht_icn,
.common_btn .reservation_doc_link:hover .reservation_wht_icn{display: block;}
.trip_itinerary_link .trip_itinerary_org_icn,.trip_itinerary_link:hover .trip_itinerary_wht_icn{display: none;}
.trip_itinerary_link:hover .trip_itinerary_org_icn{display: block;}
.common_btn .pay-now-btn:hover::before,.common_btn .download_itinerary_link:hover::before
,.common_btn .reservation_doc_link:hover::before{display: none;}
.download_itinerary_wht_icn,.reservation_doc_link .reservation_wht_icn,.download_itinerary_link:hover .download_itinerary_org_icn,
.reservation_doc_link:hover .reservation_org_icn{display: none;}

/* .common_btn .pay-now-btn:hover::before{
    content: url(/images/customer/images/arrow_right_white.svg);
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 9px;
    right: 30px;
    left: unset;
} */
.facebook_icon a:hover::before{
    content: url(/images/customer/images/facebook_blue.svg);
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    margin-top: 2px;
    transition: all 0.8s ease;
}
.twitter_icon,.instagram_icon,.linkedin_icon{display: inline-flex;}
.twitter_icon a:hover::before{
    content: url(/images/customer/images/twitter_color.svg);
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    margin-top: 2px;
    transition: all 0.8s ease;
}
.instagram_icon a:hover::before{
    content: url(/images/customer/images/instagram_color.svg);
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    transition: all 0.8s ease;
}
.linkedin_icon a:hover::before{
    content: url(/images/customer/images/linkedin_color.svg);
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    transition: all 0.8s ease;
}
/*Login page*/
.login_inner_content{width: 100%;}
.login_row{
    max-width: 1240px;
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    column-gap: 10%;   
    padding-right: 15px;
    padding-left: 15px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.login_img_column,.login_form_column{width: 50%;}
.login_img_column img{width: 100%;}
.kpt_logo{padding-bottom: 48px;text-align: center;}
.kpt_login_title{padding-bottom: 40px;}
.login_form input,.forgot_pwd a,.guest_email input,.your_details_row input,.your_details_row select,.mobile_number .second_mob_no span b{font-family: 'PP NeueMontreal Medium';font-size: 14px;line-height: 16px;padding-left: 24px;text-decoration: none;}
.forgot_pwd a:hover{text-decoration: underline;}
.login_form form,.forgot_pwd{text-align: center;}
.kpt_login_title h3{
    font-family:'PP Editorial New';
    font-size: 40px;
    line-height: 51px; 
    color: #000000;    
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 0px;
}
.kpt_login_title h4{
    font-family:'PP Neue Montreal';
    font-size: 20px;
    line-height: 24px; 
    color: #000000;    
    text-align: center;
    margin-bottom: 0px;
}
.email{padding-bottom: 16px;margin-bottom: 0px;}
.password{padding-bottom: 24px;margin-bottom: 0px;}
.email input,.your_details_row input,.your_details_row select{
    background-color: #F9F4EE;
    height: 50px;
    width: 80%;
    border-radius: 50px;
    border: 2px solid #F9F4EE;
    color: #721111;
}
.email input:focus-visible,.password input:focus-visible,.your_details_row input:focus-visible,.your_details_row select:focus-visible{ border: 2px solid #F35B15 !important;outline: none !important;}
.email input::placeholder,.password input::placeholder,.guest_email input::placeholder,.your_details_row input::placeholder{color: #721111;}
.password input{
    background-color: #F9F4EE;
    height: 50px;
    width: 80%;
    border-radius: 50px;
    color: #721111;
    border: 2px solid #F9F4EE;
}
.forgot_pwd a{color: #F35B15;}
.submit_btn button{
    height: 50px;
    width: 80%;
    border-radius: 50px;
    color: #fff;
    background-color: #F35B15;
    border: 2px solid #F35B15;
    font-family:'PP Neue Montreal';
    font-size: 14px;
    line-height: 14px;
}
.submit_btn button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #F35B15;
    transition: all 0.8s ease;
    color: #F35B15;
}

.remember_me{ text-align: left; margin-left: 12%;margin-bottom: 0px;}
.submit_btn span{width: 100px;display: inline-flex;justify-content: center;gap: 8px;align-items: center;position: relative;top: 1px;}
.submit_btn{position: relative;margin-top: 38px; margin-bottom: 24px;}
/* .submit_btn span::after{
    content: url(/images/customer/images/arrow_right_white.svg);
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -2px;
    right: -5px;
}
.submit_btn span:hover::after{
    content: url(/images/customer/images/arrow_right.svg);
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -2px;
    right: -5px;
} */
/*KPT Tours Inner*/
.overview_title span{margin-right: 16px;}
.upcoming_tours_clock .event_list{padding-top: 15px !important;}
.upcoming_tours_clock .upcoming_tour_title{
    background-color:#000000;
    border: 1px solid #000 !important;
    color: #fff;
    max-width: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
}
.upcoming_tours_clock .upcoming_tour_title{font-family: 'Inter Regular';font-size: 12px;line-height: 15px;}
.upcoming_tours_clock .upcoming_tour_title:hover {
    border: 1px solid #000 !important;
    color: #000 !important;
    background-color: #fff !important;
    transition: all 0.8s ease;
}
.upcoming_tours_clock .upcoming_tour_title:hover .badge {
    color: #000 !important;
    background-color: #fff !important;
    transition: all 0.8s ease;
}
.upcoming_tours_clock .upcoming_tour_title .badge {
    font-family:"Inter Medium";
    font-size: 12px;
    padding: 0;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
/* .upcoming_tour_title:hover::before{
    content: url(/images/customer/images/clock_black.svg);
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 23px;
    top: 8px;
}  */
 .upcoming_tour_title:hover .clock_whte,.clock_blk{display: none;} 
 .upcoming_tour_title:hover .clock_blk{display: block;} 
.upcoming_tour_title img{margin-right: 8px;}
.tours_list_details{padding: 104px 32px 32px 32px;}
.upcoming_tours_clock{padding: 32px;margin: 16px 0px 48px 0px;background-color: #F9F4EE;border-radius: 24px;border:2px solid #F35B15;}
.ticket_type,.booking_reference{margin-bottom: 12px;}
.upcoming_tours_clock .calendar_date{margin-bottom: 16px !important;}
.ticket_type span{font-family: 'PP NeueMontreal Medium';font-size: 14px;line-height: 15px;}
.booking_reference span{font-family: 'PP Neue Montreal';font-size: 18px;line-height: 18px;}
.ticket_type span:nth-child(2),.booking_reference span:nth-child(2){margin-left: 10px;}
.customer_details h5,.ticket_upgrade_colm h5,.stay_extra_colm h5,.contact_us_text p,.your_details_row h5{font-family: 'PP NeueMontreal Medium';font-size: 14px;line-height: 16px;text-decoration: none;color: #F35B15;margin-bottom: 16px;}
.img_title_date_btn_1,.img_title_date_btn_2,.add_ons_image_date{ display: flex;justify-content: space-between;column-gap: 12px; flex-flow: wrap;row-gap: 12px;}
.guests_row{ display: grid; grid-template-columns: 1fr 1fr 1fr;gap: 12px;}
.guest_colm_email{width: 30%;}
.guests_row span:first-child,.lead_guest span:first-child{opacity: 60%;}
.guest_email input{
    width: 70%;
    background-color: #F9F4EE;
    height: 40px;
    border-radius: 50px;
    color: #721111;
    border: 0px;
    padding: 0px 24px;
}
.lead_guest{margin: 20px 0px 24px 0px;}
.other_guests p{margin-bottom: 12px;}
.name_address_font span,.add_ons_title_date h4,.dollar_amt_btn_inr div{font-family: 'PP NeueMontreal Medium' !important;font-size: 16px !important;line-height: 24px;text-decoration: none;color: #000;}
.lead_guest.name_address_font span:first-child,.other_guests.name_address_font span:first-child,.onsite_agent_details.name_address_font span:first-child{width: 115px;display: inline-block;}
.guest_colm_email p:first-child span:first-child{margin-right: 16px;}
.onsite_agent_details{margin-top: 25px;}
.agend_phone_no{margin-right: 16px;}
.onsite_agent_details .lead_guest div,.travel_insurance .lead_guest div{margin-bottom: 12px;}
.travel_title_btn{display: flex;justify-content: space-between;align-items: center;}
.traveler_name{margin-right: 16px;}
.policy_no{margin-right: 16px;}
.tours_list_details hr{margin: 32px 0px;}
.add_ons_img{height: 100px;width: 100px;float: left;}
.add_ons_img img{width: 100%;object-fit: cover;}
.add_ons_title_date{padding: 0px 10px 0px 16px;display: flex;flex-flow: column;justify-content: center;}
.dollar_amt_btn_inr button{
    font-family: 'PP NeueMontreal Medium';
    font-size: 14px;
    line-height: 17px;
    padding: 11px 5px;
    color: #fff;
    background-color: #F35B15;
    border: 1px solid #f35b15;
    border-radius: 50px;
    display: flex;
    align-items: center;
    width: 113px;
    justify-content: center;
    position: relative;
}
.dollar_amt_btn_inr div{margin-bottom: 12px;}
.dollar_amt_btn_inr div{text-align: center;}
.dollar_amt_btn_inr img{position: relative;top: -2px;right: 6px;}
.add_ons_title_date .calendar_date{margin-bottom: 8px !important;}
.ticket_upgrade_colm h5,.stay_extra_colm h5,.optional_add_ons h2,.img_title_date_btn_1 {margin-bottom: 24px;}
.dollar_amt_btn_inr .ticket_add:hover{
    border: 1px solid #f15727  !important;
    color: #f15727!important;
    background-color: #fff!important;
    transition: all 0.8s ease;
}
.dollar_amt_btn_inr .ticket_add:hover::before{
    content: url(/images/customer/images/add_btn_color.svg);
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 27px;
    top: 10px;
    z-index: 111;
} 
.ticket_added{ background-color: #fff !important;border: 1px solid #F35B15 !important;color: #F35B15 !important;}
.dollar_amt_btn_inr .ticket_added:hover{
    border: 1px solid #f15727  !important;
    color: #fff!important;
    background-color: #f15727!important;
    transition: all 0.8s ease;
}
.dollar_amt_btn_inr .ticket_added:hover::before{
    content: url(/images/customer/images/check_btn_white.svg);
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 19px;
    top: 10px;
    z-index: 111;
}
.ticket_upgrade_colm{margin-right: 24px;}
.ticket_upgrade_colm,.stay_extra_colm{width: 48%;float: left;}
.add_tour{margin-top: 24px;}
.upgrade_option_row,.trip_text_btn{
    width: 100%;
    clear: both;
    padding-top: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upgrade_option_row p{margin-bottom: 0px !important;}
.trip_text_btn{padding: 0px 0px 31px 0px!important;}
.contact_us_text{text-transform: uppercase;cursor: pointer;}
.optional_add_ons{ padding-bottom: 16px;}
.upgrade_btn{position: relative;}
.trip_text_btn .common_btn a{
    background-color: #f35b15 !important;
    color: #fff !important;
}
.trip_text_btn .common_btn a:hover{
    background-color: #fff !important;
    color: #F35B15 !important;
    border: 1px solid #F35B15 !important;
}
/* .trip_text_btn .common_btn a:hover::before{content: url(/images/customer/images/download_icon.svg) !important;} */
.upgrade_btn button{
    font-family: 'PP NeueMontreal Medium';
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #fff;
    height: 50px;
    width: 136px;
    border-radius: 50px;
    position: relative;
    background-color: #F35B15;
    border: 2px solid #F35B15;
}
.upgrade_btn button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #F35B15;
    transition: all 0.8s ease;
    color: #F35B15;
}
.upgrade_btn button::after{
    content: url(/images/customer/images/arrow_right_white.svg);
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 15px;
    right: 16px;
}
.upgrade_btn button:hover::after{
    content: url(/images/customer/images/arrow_right.svg);
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 15.5px;
    right: 16px;
}
.contact_us_text img{margin-left: 8px;margin-top: -2px;}
.event_information h2,.notes_div h2{
    font-family: 'PP Editorial New';
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    color: #000000;                                                                                                                                                                                                                             
    margin-bottom: 0px;
}
.trip_text_btn h2{
    font-family: 'PP Editorial New';
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    color: #000000;                                                                                                                                                                                                                             
    margin-bottom: 0px;
}
.trip_itinerary_row{padding-top: 32px!important;}
.trip_days{border: 1px solid #F9F4EE;padding: 32px;}
.trip_days .item-header{width: 115px;}
.trip_days:not(:last-child){border-bottom: 0px;}
.trip_days h5{font-family: 'PP NeueMontreal Bold';font-size: 27px;line-height: 32px;font-weight: 500;color: #F35B15;margin: 8px 0px 16px;}
.left_label_column{width: 100px;display: inline-block;}
.date_details{ font-family:'PP NeueMontreal Medium';font-size: 14px;line-height: 20px; color: #000000;text-transform: uppercase;}
.trip_details div:not(:last-child){margin-bottom: 12px;}
.event_information h3,.final_details h3,.notes_div h3{
    font-family: 'PP Editorial New';
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 24px;
}
.event_information p,.final_details p{
    font-family: 'PP NeueMontreal Medium';
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 0px;
}
.notes_title{
    font-family: 'PP NeueMontreal Medium';
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #721111;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.notes_colm{width: 100%;float: left;background-color: #F9F4EE;min-height: 112px; border-radius: 24px; padding: 16px 24px;}
.notes_row .notes_colm:first-child{margin-right: 24px;}
/*Finances*/
.upcoming_payments_finances h2{margin-bottom: 24px;}
.finances_event{border:2px solid #F35B15;border-radius: 24px;margin-bottom: 24px;}
.event_payment_list{padding: 24px 24px 16px 24px;column-gap: 65px;background-color: #F9F4EE;border-bottom: 2px solid #F35B15;border-radius: 24px 24px 0px 0px;position: relative;}
.event_invoice_details{padding: 24px;}
.event_invoice_details table{width: 100%;}
.invoice_tbl th:nth-child(1){width: 15%;}
.invoice_tbl th:nth-child(2){width: 15%;}
.invoice_tbl th:nth-child(3){width: 15%;}
.invoice_tbl th:nth-child(4){width: 41%;}
.invoice_tbl tr td:nth-child(5){width: 143px;}
.event_invoice_details{overflow-x: auto;}
.invoice_tbl { display: block; overflow-x: auto; white-space: nowrap; }
.invoice_tbl tbody {display: table; width: 100%;}
.invoice_tbl th{
    font-family: 'PP NeueMontreal Medium';
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #F35B15;
    padding-bottom: 10px;
    letter-spacing: 2.24px;
    text-transform: uppercase;
}
.invoice_tbl td[data-content="Outstanding"]{padding-right: 30px;color: #fff !important;}
.invoice_tbl td,.order_value_amount p{
    font-family: 'PP NeueMontreal Medium';
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #000;
    padding-bottom: 10px;
}
.invoice_tbl .overdue, .invoice_tbl .notpaid, .invoice_tbl .paid {margin-bottom:0px;}
.invoice_tbl .overdue,.invoice_tbl .notpaid,.invoice_tbl .paid{
    font-family: 'PP NeueMontreal Medium';
    font-size: 12px;
    line-height: 14px;
    border-radius: 40px;
    padding: 6px 12px;
    border: 0px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.92px;
}
.invoice_tbl table tbody tr td p.view_details {margin-bottom:0px}
.invoice_tbl .overdue{ background: #FF565633;color: #E60808;}
.invoice_tbl .overdue:hover{
    border: 1px solid #E60808 !important;
    background-color: #fff !important;
    transition: all 0.8s ease;
}
.invoice_tbl .notpaid{background: #72111126;color: #721111;}
.invoice_tbl .notpaid:hover{
    border: 1px solid #721111 !important;
    background-color: #fff !important;
    transition: all 0.8s ease;
}
.invoice_tbl .paid{background: #00c851;color:#fff;}
/* .invoice_tbl .paid:hover{
    border: 1px solid #1E4E22 !important;
    background-color: #fff !important;
    transition: all 0.8s ease;
}
.overdue_btn:hover{
    border: 1px solid #000 !important;
    color: #000;
    background-color: #fff !important;
    transition: all 0.8s ease;
} */
.invoice_tbl .view_details img{margin-top: -3px;}
.order_value_amount{ display: flex; justify-content: space-between; column-gap: 13px;width: 42%;}
.order_value_amount p{padding-bottom: 0px !important;margin-bottom: 4px;}
.order_value_amount p:nth-child(2){margin-bottom: 0px;opacity: 60%;}
/*Your Details*/
.your_details{padding: 136px 32px 32px 32px;}
.your_details_row{display: flex;width: 100%;}
.your_details_colm_1{width: 23%;margin-right: 24px;}
.your_details_colm_2{width: 74%;}
.form_inner{box-shadow: 0px 0px 34px 0px #0000001A;border: 2px solid #F35B15;padding: 36px 32px 32px 32px;border-radius: 24px;}
.your_details_row ul{padding-inline-start: 0px;}
.your_details_row ul li{
    font-family: 'PP NeueMontreal Medium';
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-transform: uppercase;
    padding: 24px 12px 24px 0px;
    position: relative;
    list-style: none;
    cursor: pointer;
}
.your_details_row ul li a{color: #000;text-decoration: none;}
.your_details_row ul li:not(:last-child){border-bottom: 1px solid #D9D9D9;}
.your_details_row ul li.active a{color: #F35B15;}
.your_details_row ul li::after{
    content: url(/images/customer/images/arrow_right_black.svg);
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 27px;
    right: 0px;
}
.your_details_row ul li.active::after{
    content: url(/images/customer/images/arrow_right.svg);
}
.your_details_row ul li .active{color: #F35B15;}
.personal_details h5{text-transform: uppercase;}
.your_details_row .one_input_field input,.your_details_row select{width: 100%;padding: 0px 24px;}
.your_details_row .two_input_field input,.address_detail_colm_1,.address_detail_colm_2,.second_mob_no,.current_pwd{width: 100%;}
.second_mob_no input,.current_pwd input{width: 100% !important;}
.your_details_row .two_input_field,.address_details_form {display: flex;column-gap: 16px;}
.your_details_row .one_input_field input,.your_details_row .two_input_field input,.your_details_row .one_input_field select,.your_details_row .two_input_field select{margin-bottom: 16px !important;}
input[type="date" i]::-webkit-calendar-picker-indicator { background-image: url(/images/customer/images/calendar_dob.svg);}
.personal_details p{
    font-family: 'PP NeueMontreal Medium';
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #000 ;
    margin-bottom: 24px;
}
.mobile_number .second_mob_no span{position: absolute;margin-left: 25px;border-right: 1px solid #F35B15;padding-right: 10px;top: 12px;}
.mobile_number .second_mob_no span b{font-weight: normal;padding-left: 10px;color: #721111;}
.mobile_number .second_mob_no input{padding-left: 100px;}
.your_details_row select{cursor: pointer;}
.your_details_row select{
-webkit-appearance: none;
-moz-appearance: none;
background-image: url("/images/customer/images/arrow-down.svg");
background-repeat: no-repeat;
background-position-x: 92%;
background-position-y: 15px;
}
.contact_details h3,.passport_details h3,.frequent_details h3,.other_details h3,.change_password h3{margin-bottom: 24px;}
.passport_details select,.frequent_details select{background-position-x: 96%;}
.your_details_colm_2 hr{width: 100%;position: absolute;left: 0px;z-index: -1;color: #D9D9D9;margin: 0px;}
.address_details,.contact_details,.passport_details,.frequent_details,.other_details,.change_password{padding-top: 32px;}
.your_details_colm_2 .common_btn{padding-top: 32px;text-align: right;}
.common_btn .save_changes{line-height: 17px;color: #fff;background-color: #F35B15;border-radius: 50px;padding: 11px 30px;border: 1px solid #F35B15;text-transform: uppercase;text-decoration: none;position: relative;}
.common_btn .save_changes:hover{
    border: 1px solid #f35b15 !important;
    color: #F35B15 !important;
    background-color: #fff !important;
    transition: all 0.8s ease;
}
.your_details_row input,.your_details_row select{text-transform: uppercase;}
.home_addr{display: flex;justify-content: space-between;align-items: center;}
.same_as,.remeber_me { position: relative;top: -10px;}
.same_as input,.remeber_me input[type=checkbox] {
    position: absolute;
    visibility: hidden;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
}
input[type=checkbox] { -webkit-appearance: checkbox;}
.same_as label span,.remeber_me label span {
    padding-left: 32px;
    font-family: 'PP Neue Montreal';
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    text-transform: none;
    cursor: pointer;
}
.same_as input[type=checkbox]+span:before,.remeber_me input[type=checkbox]+span:before{
    display: block;
    position: absolute;
    content: url(/images/customer/images/Checkbox_empty_1.svg);
    border-radius: 0;
    height: 24px;
    width: 24px;
    top: -3px;
    left: 0;
}
.same_as input[type=checkbox]:checked+span:before,.remeber_me input[type=checkbox]:checked+span:before  { content: url(/images/customer/images//Checkbox-tick.svg);}
.same_as input[type=checkbox]+span:before,.remeber_me input[type=checkbox]+span:before  {
    display: block;
    position: absolute;
    border-radius: 0;
    height: 24px;
    width: 24px;
    top: 0;
    left: 0;
}
.current_pwd{position: relative;}
.current_pwd span{position: absolute;right: 30px;top: 10px;}
.second_mob_no{display: flex; align-items: center;position: relative;}
/*FAQs*/
.faqs_inner{padding: 116px 32px 32px 32px;}
.faqs_list h4{
    font-family: 'PP NeueMontreal Medium';
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}
.faqs_list h4{color: #000;}
.faqs_list p,.faqs_list table td,.faqs_list ul li,.faqs_list ol li{
    font-family: 'PP NeueMontreal Medium';
    font-size: 14px;
    color: #000;
    font-weight: 500;
    line-height: 20px;
}
.faqs_list {position: relative;}
.faqs_list h4,.faqs_list p{margin-bottom: 0px;}
.titleWrapper.active h4{color: #F35B15;}
.titleWrapper.active .arrow-icon::after{
    content: url(/images/customer/images/arrow-down-color.svg) !important;
    transform: rotate(180deg);
    transition: all .5s ease-in-out;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 34px;
    right: 0px;
}
.titleWrapper.active .arrow-icon img{display: none;}
.tab-accordian{
    width: 100%;
    border-bottom: 1px solid #F9F4EE;
    overflow: hidden;
    position: relative;
}
.desWrapper{
    background: #fff;
    max-height: 500px;
    display: none;
    padding: 0px 0px 24px 0px;
    transition: max-height 1s ease-in;
}
.titleWrapper {
    padding: 24px 0px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    -webkit-user-select: none;
    user-select: none;
    transition: background-color .8s linear;
}
/*Media Query*/
.travel_sub_menu{padding-left: 50px;margin-top: 10px;}
.travel_sub_menu li a{
    font-family: 'PP NeueMontreal Medium';
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    list-style:disc;    
}
.travel_sub_menu li{padding-bottom: 5px;}
.tours_menu{position: relative;cursor: pointer;}
.tours_menu:after{
    content: url(/images/customer/images/arrow-down-color.svg);
    display: inline-block;
    position:absolute;
    top: 3px;
    right: 0px;
}
@media only screen and (max-width: 1199px) {
    .container{width: 100% !important;padding: 0px;display: block !important;}
    .past_tours_column .common_btn{flex-flow: column; gap: 15px;}
    header.topbar{width: 25% !important;}
    .overview_top_bar,.body_content .inner_content{width: 75%;}
}
@media only screen and (max-width: 980px) {
    .address_detail_colm_2 { padding-top: 30px; }
    .your_details_row .two_input_field,.address_details_form{flex-flow: column;}
    .your_details_row .two_input_field input,.second_mob_no,.address_detail_colm_1,.address_detail_colm_2,.relationship_input,.current_pwd{width: 100%;}
    .your_details_row{display: block;}
    .your_details_colm_1,.your_details_colm_2{width: 100%;}
    .ticket_upgrade_colm{margin-bottom: 40px;}
    .guest_colm1,.guest_colm_email{margin-bottom: 25px;}
    .guest_colm_email{width: 50%;}
    .guests_row{flex-flow: column;}
    .past_tours_column{width: 45% !important;float: left;padding-bottom: 70px;}
    .past_tours_column:not(:nth-child(3)){margin-right: 5%;}
} 
@media only screen and (max-width: 400px) {
    .personal_details h3{font-size: 20px !important;line-height: 28px !important;}
    .mobile_number .second_mob_no input{padding-left: 80px !important;}
    .mobile_number .second_mob_no span{margin-left: 15px !important;}
    .second_mob_no span{padding-right: 0px !important;}
    .second_mob_no img{width: 21%;}
    .your_details_row input, .your_details_row select{font-size: 11px !important;}
    .add_ons_img{margin-bottom: 20px;} 
    .add_ons_image_date,.dollar_amt_btn_inr{display: flex !important; align-items: center;flex-flow: column;}
}
@media only screen and (max-width: 550px) {
    .your_details{padding: 48px 15px 32px 15px;}
    .contact_us_text p{font-size: 12px;}
    .contact_us_text,.trip_text_btn div:first-child{margin-bottom: 30px;}
    .upgrade_option_row,.trip_text_btn{flex-flow: column;}
    .add_ons_image_date{display: block;}
    .tours_list_details{padding: 32px 20px;}
    .guest_colm_email,.left_label_column{width: 100% !important;}
    .img_title_date_btn_1,.img_title_date_btn_2{flex-flow: column;}
    .dollar_amt_btn_inr div{text-align: left;}
    .dollar_amt_btn{margin: 25px 0px;}
    .overview_top_bar{flex-flow: column; gap: 10px; align-items: flex-start;}
}
@media only screen and (max-width: 767px) {
    .your_details_row input, .your_details_row select{font-size: 13px;}
    .form_inner{padding: 36px 15px 32px 15px;}
    .total_order,.total_paid{margin-bottom: 20px;}
    .order_value_amount{width: 100%; margin-top: 25px;margin-bottom: 10px;flex-flow: column;}
    .event_payment_list{column-gap: 15px;flex-flow: column;align-items: start;}
    .notes_row .notes_colm:first-child{margin-bottom: 18px;}
    .ticket_upgrade_colm,.stay_extra_colm,.notes_colm{width: 100%;}
    .travel_insurance .common_btn{position: absolute;bottom: 0px;}
    .travel_insurance{ position: relative;padding-bottom: 50px;}
    .common_btn a{padding: 11px 15px;}
    .upcoming_tours_clock{padding: 32px 15px;}
    .sidebar-header{text-align: center;}
    .sidebar-header img{width: 100%;}
    .remember_me{margin-left: 10px;}
    .login_img_column,.login_form_column{width: 100%;}
    .email input,.password input,.submit_btn button{width: 100%;}
    .kpt_login_title h4{font-size: 17px;line-height: 25px;}
    .kpt_login_title h3{font-size: 30px;line-height: 42px;}
    .login_form_column{margin-top: 65px;}
    .login_row{flex-flow: column;height: auto !important; margin-top: 60px !important; margin-bottom: 50px !important;}
    .inner_content{height: auto !important;margin-bottom: 100px !important;}
    .dollar_amount{padding-bottom: 20px;}
    .common_btn{display: flex; flex-flow: column;}
    .upcoming_tours h2, .upcoming_payments h2, .past_tours h2,.customer_details h2,.name_address_font h2,.upcoming_payments_finances h2{font-size: 25px !important;line-height: 32px;}
    .title_date h4{padding-top: 20px;font-size: 20px !important;line-height: 28px !important;}
    .event_image_title{flex-flow: column;align-items: center;}
    .title_date{padding-left: 0px !important; margin-top:20px;}
    .search_field{width: 100% !important;margin-top: 20px;}
    #sidebar{width: 100% !important;height: auto !important;position: relative;}
    .past_tours_column{width: 100% !important;padding-bottom: 70px;}
    .past_tours_column:not(:nth-child(3)){margin-right: 0%;}
    header.topbar{width: 30% !important;}
    .overview_top_bar,.body_content .inner_content{width: 70%;}
    .past_tour_img span {padding: 1px;}
    .menu_list li img, .email_id img, .phone_no img{ display:none;}
    .travel_sub_menu { padding-left: 10px; }
    .travel_sub_menu li a { text-transform: capitalize !important;}
    .brand-email {word-wrap: break-word;}
    .social_media img { margin-right: 1px; }
} 
@media screen  and (min-width: 768px)  and (max-width: 980px) { 
    .order_value_amount{width: 80%; margin-top: 25px;margin-bottom: 10px;}
    .event_payment_list{column-gap: 15px;flex-flow: column;align-items: start;}
    .notes_row .notes_colm:first-child{margin-right: 20px;}
    .ticket_upgrade_colm,.stay_extra_colm{width: 100%;}
    .login_row{column-gap: 30px;}
    .title_date h4{font-size: 17px;line-height: 25px;}
    .upcoming_tours h2, .upcoming_payments h2, .past_tours h2,.customer_details h2,.name_address_font h2,.upcoming_payments_finances h2{font-size: 26px !important;line-height: 34px;}
    .inner_content{width: 75% !important;}
    #sidebar{width: 100% !important;padding: 30px 19px !important;}
    .social_media img{margin-right: 9px !important;}

}
@media screen  and (min-width: 981px)  and (max-width: 1199px) { 
    .guest_email input{font-size: 12px;padding: 0px 20px;}
    .guest_colm_email{width: 28%;}
}
@media screen  and (min-width: 981px)  and (max-width: 1279px) { 
    .your_details_row input, .your_details_row select{font-size: 13px;}
    .address_detail_colm_2{padding-top: 30px;}
    .mobile_number .second_mob_no:first-child,.relationship_input{margin-bottom: 16px !important;}
    .mobile_number,.address_details_form{flex-flow: column;}
    .mobile_number .second_mob_no,.address_detail_colm_1,.address_detail_colm_2,.relationship_input,.current_pwd{width: 100% !important;}
    .order_value_amount{width: 70%; margin-top: 25px;margin-bottom: 10px;}
    .event_payment_list{column-gap: 15px;flex-flow: column;align-items: start;}
    .add_ons_image_date{display: block;}
    .img_title_date_btn_1,.img_title_date_btn_2{flex-flow: column;}
    .dollar_amt_btn_inr div{text-align: left;}
    .dollar_amt_btn{margin: 25px 0px;}
}
@media screen  and (min-width: 1280px)  and (max-width: 1399px) { 
    .alternate_no::placeholder{font-size: 11px;}
    .order_value_amount p{font-size: 13px;}
    .order_value_amount{width: 46%;}
    .event_payment_list{column-gap: 20px;}
    .add_ons_image_date,.img_title_date_btn_1{column-gap: 0px;}
    .calendar_date{font-size: 12px;}
}
@media screen  and (min-width: 1400px)  and (max-width: 1600px) { 
    .order_value_amount p{font-size: 13px;}
}
@media only screen and (min-width: 981px) {
    .past_tours_column{width: 31%; float: left;}
    .past_tours_column:not(:nth-child(3)){margin-right: 3%;}
}
@media only screen and (min-width: 1401px) {
    .order_value_amount{width: 40% !important;}
}
@media only screen and (max-width: 1400px) {
    .event_list{flex-flow: column;align-items: start;}
    .event_list .common_btn{margin: 30px 0px 20px 0px;}

}

.past_tour_row{display: flex;flex-flow: wrap; gap: 24px;}
.past_tour_row .past_tours_column:not(:nth-child(3)){margin-right: 0px;}
.badge.fw-bold.overdue_btn{
    font-family: 'Inter Regular';
    font-weight: 500 !important;
     font-size: 12px;
     line-height: 19px !important;
    letter-spacing: 2px; 
    text-transform: uppercase;    
    margin:0px;
    width:100px;
    border: 0px !important;
    color: #fff !important;
}
h6.badge.fw-bold.overdue_btn {
    font-family: 'Inter Regular';
    font-weight: 500 !important;
    font-size: 12px;
    line-height: 19px !important;
    letter-spacing: 2px;
    text-transform: uppercase;    
    margin:0px 0px 12px 0px;
    width: unset;
    border: 0px !important;
    color: #fff !important;
}
.upcoming_tours .calendar_date{margin-bottom:24px;line-height: 13px;display: flex;gap: 8px;}
.upcoming_tours .view_details{margin-bottom: 0px;}
.upcoming_tours .view_details a{display: flex;align-items: center;gap:3px;}
.upcoming_payments .title_date{max-width: 400px;}
.upcoming_payments .calendar_date{margin-bottom: 0px;display: flex;}
/* .past_tours .event_title_date h4{
    height: 70px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
} */
select:focus-visible{border: 2px solid #F35B15 !important; outline: none !important;}
select.form-control:focus{box-shadow: unset;border-color: transparent;}
.passport_mob_no.mobile_number{margin-bottom: 16px;}
.tour_event_img{height: 282px;}
.tour_event_img img{width: 100%;height:100%;object-fit: cover;}
.travel_sub_menu li::marker{
    color:#FFF;
}
.upcoming_payments_finances .order_value_amount_div .order_value_amount{width: unset !important;}
.upcoming_payments_finances .order_value_amount_div {width: 40%;display:flex;flex-flow: wrap;justify-content: flex-end;height: 200px;}
.trip_days .single-module h4 {
    font-family: 'PP NeueMontreal Medium';
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    margin: 8px 0px 16px;
}
.trip_days .details-module table .left_label_column, .trip_days .details-module table .left_label_column p {
    font-family: 'PP NeueMontreal Medium';
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(0 0 0 / 60%);
}
.trip_days .details-module table .item-detail, .trip_days .details-module table .item-detail p, .trip_days .details-module table tbody tr td:last-child {
    font-family: 'PP NeueMontreal Medium';
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #000000;
}
.trip_days .details-module table .item-detail, .trip_days .details-module table .left_label_column, .trip_days .details-module table tbody tr td:last-child  {padding-bottom:12px;}
.trip_days hr:last-child {display: none;}
.notes_colm .form-floating.form-group textarea {height:96px;}
.notes_row .form-group button.btn-primary{
    margin-top: 25px;
    background-color: #f35b15 !important;
    color: #fff !important;
    font-family: 'PP NeueMontreal Medium';
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #f35b15;
    padding: 10px 32px;
    text-transform: uppercase;
    border-radius: 50px;
    text-transform: uppercase;
    transition: all 0.8s ease;
}
.notes_row .form-group button.btn-primary:hover{
    background-color: #fff !important;
    color: #F35B15 !important;
    border: 1px solid #F35B15 !important;
}
.upcoming_payments .hotel-more-info-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000BF;
    width: 100%;
    height: 100%;
    padding: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1111 !important;
}
.upcoming_payments .hotel-more-info-popup .hotel-more-info-contain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}
.upcoming_payments .hotel-more-info-popup .hotel-more-info-contain .hotel-more-info-block {
    max-width: 740px;
    width: 86%;
    padding: 58px 32px;
    background: #ffffff;
    position: relative;
    box-sizing: border-box;
    border-radius: 16px;
}
.upcoming_payments .hotel-more-info-popup .hotel-more-info-contain .hotel-more-info-block .info-body {
    max-height: 600px !important;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 20px;
}
.upcoming_payments .hotel-more-info-popup .hotel-more-info-contain .hotel-more-info-block .info-body .hotel-close-button {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}
.upcoming_payments .hotel-more-info-popup .info-body h4 {
    font-family: "Begum-Medium";
    text-transform: uppercase;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #f35b15;
    margin: 0px 0px 20px 0px;
}
.upcoming_payments .hotel-more-info-popup .info-body p {
    font-family: "PP NeueMontreal Medium";
    font-weight: 500;
    color: #000;
    font-size: 16px;
    line-height: 24px;
}
.upcoming_payments .hotel-more-info-popup  {visibility: hidden;}

.payment-details-content {
    border-bottom: 1px solid rgba(243, 91, 21, 0.2);
    padding: 12px 0px;
}

.next-button {
    margin-top: 24px;
    width: 100%;
    height: 67px;
    background: #f35b15;
    border: 0px;
    border-radius: 99px;
    cursor: pointer;
}

.next-button > span {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.next-button > span > span {
    font-family: "PP NeueMontreal Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.24px;
    color: #FFF;
}

.heading {
    font-size: 20px;
    color: #f35b15;
    font-weight: 600;
    margin-top: 2rem !important;
    text-align: center;
}

.order_amount {
    font-size: 20px;
    color: #f35b15;
    font-weight: 600;
    margin-top: 2rem !important;
}
.view_details {
    color: #f35b15;
    text-decoration: none !important;
}

.pb-10 {
    padding-bottom: 10px;
}
.pb-0 {
    padding-bottom: 0px;
}
.cta_space {
    width: 100% !important;
}

.left-side {
    width: 85%;
    padding: 0;
}

.right-side {
    width: 15%;
    padding: 0;
    vertical-align: middle;
    text-align: right;
}


.btn-warning {
    font-size: 13px;
    color: #fff !important;
    letter-spacing: 1px;
    line-height: 15px !important;
    transition: all 0.3s ease 0s;
}

.input-error {
    border: 1px solid #ff0000 !important;
    color:#ff0000 !important;
}

.input-success {
    border: 1px solid #008000 !important;
}

.guest_email .input-error-message {
    display: flex;
    font-family: 'PP Neue Montreal';
    font-size: smaller;
    color: #FF0000;
}

.pay-now-btn:hover .pay_right_arrow_org,.pay_right_arrow_wht{display: none;}
.pay-now-btn:hover .pay_right_arrow_wht,
.common_btn .download_itinerary_link:hover .download_itinerary_wht_icn,
.common_btn .reservation_doc_link:hover .reservation_wht_icn{display: block;}
.common_btn .pay-now-btn:hover::before,.common_btn .download_itinerary_link:hover::before
,.common_btn .reservation_doc_link:hover::before{display: none;}
.download_itinerary_wht_icn,.reservation_doc_link .reservation_wht_icn,.download_itinerary_link:hover .download_itinerary_org_icn,
.reservation_doc_link:hover .reservation_org_icn{display: none;}
.reset_pwd_link.submit_btn span::after{right: -25px;}
.reset_pwd_link.submit_btn span{width: unset;text-transform: uppercase;}
.email.reset_pwd_email{display: flex; justify-content: center;}

.past_tour_img{position: relative;}
.past_tour_img span{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px;
}
.final_details table td{
    font-family: 'PP NeueMontreal Medium';
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #000;
}
.final_details table tr{border: 0px;}
.notes_colm textarea,.notes_colm textarea:focus{
    border: 0px;
    background: #F9F4EE;
    color: #721111;
    border-color: transparent;
    outline: 0;
    box-shadow: unset;
}
.notes_colm .form-floating textarea:focus~label::after{height: 0px;}
.submit_btn button .pay_right_arrow_wht,.common_submit .pay_right_arrow_wht{display: block;}
.submit_btn .pay_right_arrow_org,.submit_btn button:hover .pay_right_arrow_wht,.common_submit .pay_right_arrow_org,.common_submit button:hover .pay_right_arrow_wht{display: none;}
.submit_btn button:hover .pay_right_arrow_org,.common_submit button:hover .pay_right_arrow_org{display: block;}
.title_date p,.title_date .calendar_date h6{ font-family: 'PP NeueMontreal Medium'; }
.calendar_date{font-size: 16px;}
.title_date h6.btn.btn-warning{font-family: 'Inter Medium';font-size: 12px;line-height: 12px;text-transform: uppercase;color: #fff;}
.tours_list .upcoming_payments h2{margin-bottom: 16px;}
.pay_ment_due{
    font-family: 'PP NeueMontreal Medium';
    font-size: 14px;
    font-weight: 500;
    color: #721111;
    margin-bottom: 0px;
}
.past_tours_column .past_image_title{margin-bottom: 15px;}

.status-btn { border-radius: 28px; background-color: #ffc107; color: white; padding: 10px 20px; font-size: 16px; border: none; cursor: pointer; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); transition: background-color 0.3s ease, box-shadow 0.3s ease; letter-spacing: 1px; line-height: 15px; margin-left: 25px; }
.status-btn:hover { box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);}
.status-btn-danger { background-color: #ff3547;}
.status-btn-primary { background-color: #4285f4 } 
.status-btn-warning { background-color: #fb3; } 
.status-btn-success { background-color: #00c851; } 
.status-btn-info { background-color: #33b5e5; } 
.status-btn-default { background-color: #2bbbad; } 
.status-btn-secondary { background-color: #a6c; } 
.status-btn-dark { background-color: #212121; } 
.status-btn-light { background-color: #e0e0e0; }
.tbl-quote-section th{
     font-family: 'PP NeueMontreal Medium';
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #666666;
}
.tbl-quote-section td{
     font-family: 'PP NeueMontreal Medium';
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #000000;
}
.trip_days .details-module table .left_label_column strong{font-weight: 300;}

.order_value_amount_div h6{
    font-family: 'PP NeueMontreal Medium';
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #000;
}
.finances_event .title_date h6:nth-child(2){
    font-family: 'PP NeueMontreal Medium';
    font-size: 14px;
    line-height: 15px;
}
.passport_dtls{
     font-family: 'PP NeueMontreal Medium';
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #000;
}
.personal_details.passport_details .emergency_details_form{padding-top: 20px;}
.iti__selected-flag{height: 50px;}
.personal_details{padding-bottom: 16px;}
.common_submit span{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.common_submit span img{position: relative;top: -1px;}
.upcoming_tours hr{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 16px 0px;
}
.upcoming_tours .event_list{padding-top: 0px;}
.upcoming_tours h2{padding-bottom: 24px;}
.event_location{display: none;}
.upcoming_payments_finances .order_value_amount_div{
    flex-flow: column;
    justify-content: flex-start;
    align-items: end;
}
.order_value_amount{flex-flow: column;row-gap: 10px;}
.travel_sub_menu{display: none;}
.submenu-toggle .dpdown_img{position: absolute;right: 0px;}
.tours_menu.open .dpdown_img{transform: rotate(180deg);}
.onsite-contact-no{margin-top: -10px;}
.onsite-contact-no td:last-child span {padding-top: 10px;}
.onsite-contact-detail-block a, .onsite-contact-no a { text-decoration: none;}
.sample_notes{
    font-family: 'PP Editorial New';
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 24px;
}
.notes_div p{
    font-family: 'PP NeueMontreal Medium';
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    max-width: 80%;
}
.event_information table td,.event_information p,.event_information ul li,.event_information a,.tours_list p,.event_information ol li,.past_tours p{font-family: 'PP NeueMontreal Medium';}
.event_information p strong,.event_information p {display: inline-block; padding-bottom: 15px;}
.finances_event .btn-secondary,.title_date .btn-secondary{background-color: #a6c;}
.finances_event .btn-info{background-color: #33b5e5; color: #fff;}
.btn-success{ background-color: #00c851 !important; border-radius: 40px !important;}
.btn-warning{ background-color: #fb3 !important; border-radius: 40px !important;} 
.title_date .btn{cursor:auto;}
.title_date h6.btn,.past_tour_img span{font-family: 'Inter Medium';font-size: 12px;letter-spacing: 1.92px;font-weight: 500 !important;border-radius: 40px;line-height: 19px;cursor: auto;text-transform: uppercase;border: 0px;}
.finances_event .event_detail_top,.event_image_title{max-width: 750px;width: 100%;}
.title_date .btn-success:hover{background-color: #00c851;border: 0px;}
.title_date .btn-secondary:hover{background-color: #a6c;border: 0px;}
.title_date .btn-danger{background-color: #ff3547 !important;}
.title_date .btn-danger:hover{background-color: #ff3547;border: 0px;}
.title_date .btn-info:hover{background-color: #33b5e5;border: 0px;}
.lead_guest{font-family: 'PP NeueMontreal Medium'; font-size: 16px;line-height: 19px; font-weight: 500; color: #000;}
.notes_colm::placeholder {font-family: 'PP NeueMontreal Medium';}
.onsite-contact-detail-block a,.event_information td a,.event_information ul li,.event_information a,.tours_list p,.event_information ol li{color: #000;}
.iti__flag--placeholder{background-image: url(/images/customer/images/world_icn.png);background-size: contain;
    background-color: transparent;
    box-shadow: none;
    background-position: 0px;
}
.personal_details label{
    font-family: 'PP NeueMontreal Medium';
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #F35B15;
    margin-bottom: 10px;
    padding-left: 15px;
}
.personal_details .btn-outline-danger{
    font-family: 'PP NeueMontreal Medium';
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #fff;
    background-color: #F35B15;
    border-radius: 50px;
    padding: 11px 30px;
    border: 1px solid #F35B15;
    text-transform: uppercase;
    text-decoration: none;
    position: relative; 
}
.personal_details .btn-primary,.personal_details .btn-secondary{background-color: #F35B15;border-radius: 50px;border: 1px solid #F35B15;}
.notes_colm .form-floating>.form-control:focus~label{display: none;}
.notes_colm .form-floating>.form-control:not(:placeholder-shown)~label::after{display: none;}
.faqs_list .tab-accordian h1{
    font-family: 'PP NeueMontreal Medium';
    font-size: 40px;
    line-height: 40px;
    color: #000;
}
.faqs_list .tab-accordian h2{
    font-family: 'PP NeueMontreal Medium';
    font-size: 32px;
    line-height: 32px;
    color: #000;
}
.faqs_list .tab-accordian h3{
    font-family: 'PP NeueMontreal Medium';
    font-size: 24px;
    line-height: 24px;
    color: #000;
}
.faqs_list .tab-accordian h4{
    font-family: 'PP NeueMontreal Medium';
    font-size: 16px;
    line-height: 16px;
    color: #000;
}
.faqs_list .tab-accordian h5{
    font-family: 'PP NeueMontreal Medium';
    font-size: 14px;
    line-height: 14px;
    color: #000;
}
.faqs_list .tab-accordian h6{
    font-family: 'PP NeueMontreal Medium';
    font-size: 12px;
    line-height: 16px;
    color: #000;
}

.notes_colm .form-control::placeholder {
  color: #721111 !important;
  opacity: 1;
    font-family: 'PP Editorial New';
    font-size: 16px;
}
.event_information table td{padding: 15px 0px;}
.customer_details h2{font-family:'PP Editorial New';font-size: 40px;color: #000000;line-height: 48px;display: flex;align-items: center;margin-bottom: 0px;}
.two_label_field{display: flex; flex-flow: column; width: 50%;}
.two_input_field.full_width_field{flex-flow: column;}
header.topbar{width: 20%;float: left;}
.two_input_field.mobile_number .one_input_field{width: 50%;}
.two_label_field.title_label{width: 16%;}
.two_label_field.title_label input{padding-left: 12px;}
.two_input_field.mobile_number .input-group{display: inline-block;}
.two_input_field.mobile_number .iti.iti--allow-dropdown{width: 100%;}
.personal_details_form .form-control:focus{box-shadow: unset;}
.two_input_field.mobile_number .iti.iti--allow-dropdown input{padding-left:90px;}
.two_input_field.mobile_number .iti__selected-country-primary{padding-left:24px;}
.two_input_field.mobile_number .iti__selected-dial-code{font-family: 'PP NeueMontreal Medium';color:#721111;font-size: 14px; line-height: 16px;}
.addr_country .select2-container--default .select2-selection--single{
    background-color: #F9F4EE;
    height: 50px;
    width: 100%;
    border-radius: 50px;
    border: 2px solid #F9F4EE;
    color: #721111;
}
.addr_country .select2-container--default .select2-selection--single .select2-selection__rendered{
    font-family: 'PP NeueMontreal Medium';
    color:#721111;
    font-size: 14px; 
    line-height:50px;
    padding-left: 24px;
}
.personal_details .select2-container--default .select2-selection--single .select2-selection__placeholder,.select2-container.select2-container--default.select2-container--open{
     font-family: 'PP NeueMontreal Medium';
    color:#721111;
    font-size: 14px; 
}
.addr_country .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.personal_details .select2-container--default.select2-container--open.select2-container--below .select2-selection--single{
    border-bottom-left-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}
.personal_details .select2-container--default.select2-container--open.select2-container--above .select2-selection--single{
     border-top-left-radius: 50px !important;
    border-top-right-radius: 50px !important;
}
.addr_country .select2-selection__clear,.addr_country .select2-selection__arrow b,
.two_input_field.mobile_number .iti__search-icon,.personal_details .select2-selection__arrow b{display: none;}
.addr_country .select2-container--default .select2-selection--single .select2-selection__arrow,.personal_details .select2-container--default .select2-selection--single .select2-selection__arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("/images/customer/images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position-x: 92%;
    background-position-y: 20px;
    height: 50px;
    top: -3px;
    right: 14px;
}
.select2-container--open .select2-dropdown--below{border: 1px solid #F9F4EE;border-top: 1px solid #F9F4EE;}
.two_input_field.mobile_number .iti__country{padding: 8px 12px;}
.two_input_field.mobile_number .iti__search-input{padding-left: 24px !important;border-radius: 0px;-webkit-appearance: none; -moz-appearance: none;}
.your_details_row .two_input_field.mobile_number ul li::after{display: none;}
.your_details_row .form-control:focus{box-shadow: unset;}
.personal_details .select2-container--default .select2-selection--single{
    background-color: #F9F4EE;
    height: 50px;
    width: 100%;
    border-radius: 50px;
    border: 2px solid #F9F4EE;
    color: #721111;
}
.personal_details .select2-selection__rendered{padding-top: 10px;padding-bottom: 10px;padding-left: 16px !important;padding-right: 20px !important;}
.personal_details .row{display: flex;row-gap: 15px;}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background-color: transparent !important;
    color: #721111 !important;
}
.other_details_form{display: flex;gap: 10px;}
.other_details_form .one_input_field{flex:1;}
.other_details_form textarea{
    font-family: "PP NeueMontreal Medium";
    font-size: 16px;
    color: #721111;
    background-color: #F9F4EE;
    border-radius: 10px;
    border: 2px solid #F9F4EE;
}
.personal_details.loyalty_details textarea{
    font-family: "PP NeueMontreal Medium";
    font-size: 14px;
    color: #721111;
    background-color: #F9F4EE;
    border-radius: 10px;
    border: 2px solid #F9F4EE;
}
.other_details_form .two_input_field.full_width_field{margin-bottom: 16px;}
.personal_details .icon-border{
    background-color: #F9F4EE;
    padding: 10px !important;
    border-radius: 50px !important;
}
.personal_details .icon-border img{ width: 25px; height: 25px;}
.personal_details .select2-container--default .select2-selection--single .select2-selection__rendered{
    font-family: 'PP NeueMontreal Medium';
    color: #721111;
    font-size: 14px;
}
.remove-loyalty-btn, .remove-merchandise-btn { position: absolute;  top: 10px; right: 10px; cursor: pointer; z-index: 10;}
.card-body .row > * {padding-right: calc(var(--bs-gutter-x) * .19); padding-left: calc(var(--bs-gutter-x) * .1);}
.modal-content {font-family: 'PP NeueMontreal Medium' !important;}
.modal-title { color: #F35B15;}
.btnstyle-cancel {
  border-radius: 50px !important;
  text-transform: uppercase !important;
}
.btnstyle-logout {
    background-color: #F35B15 !important;
    border-radius: 50px !important;
    border: 1px solid #F35B15 !important;
    text-transform: uppercase !important;
}
.modal-header .btn-close {border: 1px solid #F35B15 !important;}