:root {
    --payment-button-color: #007bff;
}
.payments {
    &__column {
        &--highlight {
            font-size: large;
            font-weight: 600;
            color: var(--payment-button-color);
        }
    }
    &__button {
        &--action {
            background: var(--payment-button-color);
            color: white;
            font-size: large;
            font-weight: bold;
        }
    }
    &__info {
        color: var(--payment-button-color);
        font-weight: 600;
    }
}
