:root {
    --payment-button-color: #007bff;
}
.payments {
    &__column {
        &--highlight {
            font-size: large;
            font-weight: 600;
            color: var(--payment-button-color);
        }
    }
    &__button {
        &--action {
            background: var(--payment-button-color);
            color: white;
            font-size: large;
            font-weight: bold;
        }
    }
    &__info {
        color: var(--payment-button-color);
        font-weight: 600;
    }
}
.has-dropdown {
    top: 0.5rem;
    width: 100%;
    .dropdown {
        border: none;
        align-content: right;
    }
    .dropdown::selection {
        border-radius: 8px;
        border: thin #ddd solid;
    }
}
.dropdown {
    border: thin #ddd solid;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 4px;
}
.lower {
    margin-top: 1rem;
}
input, .dropdown {
    border-radius: 8px;
    border: thin #ddd solid;
}
input[pattern]:invalid,
.invalid {
    color: red;
}
.maxwidth {
    width: 100%;
}
.field-separation {
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

