:root {
    --payment-button-color: #007bff;
}
.ept-form {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px double #ccc;
    padding: 0 0 1rem 0;
}

.payments {
    &__column {
        &--highlight {
            font-size: large;
            font-weight: 600;
            color: var(--payment-button-color);
        }
    }
    &__button {
        &--action {
            background: var(--payment-button-color);
            color: white;
            font-size: large;
            font-weight: bold;
        }
    }
    &__info {
        color: var(--payment-button-color);
        font-weight: 600;
    }
}
.has-dropdown {
    top: 0.5rem;
    width: 100%;
    .dropdown {
        border: none;
        align-content: right;
    }
    .dropdown::selection {
        border-radius: 8px;
        border: thin #ddd solid;
    }
}
.dropdown {
    border: thin #ddd solid;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    padding: 4px;
}
input, .dropdown {
    border-radius: 8px;
    border: thin #ddd solid;
}
input[pattern]:invalid,
.invalid {
    color: red;
}
.maxwidth {
    width: 100%;
}
.field-separation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.field-joining {
    max-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.caption {
    margin: 0 2rem;
}
.spacer {
    margin-top: 2rem;
}
.cardhead {
    text-align: left;
}
.card-body {
    overflow: hidden;
    width: 100%;
}
.flight-customise {
    margin: 1rem 2rem;
    overflow: hidden;
    width: 95%;
}
.flight-options {
    margin: 1rem 3rem 2rem 1rem;
}
hr.light {
    margin: 1rem 0;
    background-color: #ccc;
}
.compress {
    font-size: 10px;
}
.a-cards {
    padding: 1rem;
    display: flex;
}
.a-card {
    width: 100%;
    height: auto;
    padding: 0.25rem;
    margin: 0.5rem;
    font-size: 16px;
    border: 2px solid teal;
    border-radius: 6px;
    img {
        width: 100%;
        height: auto;
    }
    &__content {
        padding: 0.1em;
    }
    .label {
        padding: 0.1em 0.25em;
        font-size: 0.7rem;
        background: grey;
        color: white;
    }
    .content {
        padding: 0 0 0.5em 0;
        font-size: 0.85rem;
        background: white;
        color: indigo;
    }
    &:hover {
        box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
    }
}
.accommodations {
    &__traveller {
        font-size: 11px;
    }
    &__summary {
        display: flex;
        .card {
            padding: 1rem;
            margin: 1rem;
        }
    }
}
.mb-1 {
    p {
        margin-left: 1.25em;
    }
}
.a-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background:blue;
}
.a-card {
    flex: 0 1 auto;
}
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn-small {
    width: 3rem;
    height: 1rem;
    padding: 0;
    vertical-align: inherit;
    font-size: 12px;
}
@media screen and (min-width: 576px) {
    .a-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background:green;
    }
    .a-card {
        flex: 0 1 40%;
    }
}
@media screen and (min-width: 768px) {
    .a-cards {
        background: orange;
    }
    .a-card {
        flex: 0 1 30%;
    }
}
@media screen and (min-width: 992px) {
    .a-cards {
        background: red;
    }
    .a-card {
        flex: 0 1 20%;
    }
}

